<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <div class="container">
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </div>
  </div>
</head>
<body class="container">
<h1 th:text="${pageName}"></h1>

<div th:switch="${rooms}" class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <p class="my-5"><a href="/rooms/add-room" class="btn btn-success"><i class="fas fa-user-plus ml-2"></i></a></p>
      <h2 th:case="null">No rooms yet!</h2>
      <div th:case="*">
        <h2 class="my-5">Rooms</h2>
        <table class="table table-striped table-responsive-md">
          <thead>
          <tr>
            <th>Type of the room</th>
            <th>Price per night</th>
            <th>How many adults can stay in this room?</th>
            <th>How many children can stay in this room?</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="room : ${rooms}">
            <td th:text="${room.type}"></td>
            <td th:text="${room.price}"></td>
            <td th:text="${room.numberOfAdults}"></td>
            <td th:text="${room.numberOfChildren}"></td>
            <td><a th:href="@{/rooms/edit/{id}(id=${room.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
            <td><a th:href="@{/rooms/delete/{id}(id=${room.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>