<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body class="container">
<h1 th:text="${pageName}"></h1>

<div class="col-md-3"></div>
<div class="col-md-4">
    <form th:object="${room}" method="post" th:action="@{/rooms}">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label>Size</label>
                <select class="form-control" th:field="*{type}">
                    <option value="">Choose...</option>
                    <option value="Design">Classic</option>
                    <option value="Engineering">Junior Suite</option>
                    <option value="Marketing">Studio</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>Type</label>
                <select class="form-control" th:field="*{type}">
                    <option value="">Choose...</option>
                    <option value="Design">Classic</option>
                    <option value="Engineering">Junior Suite</option>
                    <option value="Marketing">Studio</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>Adults</label>
                <input type="number" class="form-control" th:field="*{adults}">
            </div>
            <div class="col-md-6 form-group">
                <label>Children</label>
                <input type="number" class="form-control" th:field="*{children}">
            </div>
            <div class="col-md-6 form-group">
                <label>Check-in Date</label>
                <input type="date" class="form-control" th:field="*{checkInDate}">
            </div>
            <div class="col-md-6 form-group">
                <label>Nights</label>
                <input type="number" class="form-control" th:field="*{nights}">
            </div>
        </div>
        <div class="form-group">
            <label>Special Requests</label>
            <textarea class="form-control" th:field="*{requests}" rows="3"></textarea>
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Submit</button>

</div>
</body>
</html>